.exchange-form {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;

    .exchange-label {
        display: block;
        font-size: 12px;
        margin-bottom: 4px;
        color: #333;
    }

    .input-container {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;

    }

    .input-container input {
        flex: 1;
        border: none;
        font-size: 14px;
    }

    .show-summary {
        cursor: pointer;
        color: #007bff;
        transition: color 0.2s;

        &:hover {
            color: #0056b3;
        }
    }
}