.banner {
    padding: 5px;
    display: flex;
    border-radius: 4px;
    margin: 10px;
    color: white;
    font-size: 14px;
    position: relative;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        /* Slide up a bit at the start */
    }

    100% {
        opacity: 0.9;
        transform: translateY(0);
    }
}

.error {
    background-color: #ff6347;
}

.success {
    background-color: #32cd32;
}

.info {
    background-color: #1e90ff;
}

.banner-message {
    flex: 1;
    margin-right: 10px;
    text-align: left;
}

.banner-close {
    width: 10%;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}