body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 14px;
}

input,
button {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

a {
    color:#007bff
}

h1 {
    font-size: 24px;
}